<%- include('./components/header')%>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/Matanflix.png" alt="logo" class="img-fluid" style="width: 50px; height: 50px;" />
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Welcome back, <%= user.UserName %></a>
                    </li>
                    <li class="nav-item d-flex">
                        <a href="/" class="nav-link"><i class="bi bi-binoculars" style="margin-right: 5px;"></i>User
                            View</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a href="/movies" class="nav-link active"><i class="bi bi-film"
                                style="margin-right: 5px;"></i>Movies</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a href="/users" class="nav-link"><i class="bi bi-people"
                                style="margin-right: 5px;"></i>Users</a>
                    </li>
                </ul>

            </div>
            <ul class="nav  navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout<i style="margin-left: 5px;"
                            class="icon bi bi-box-arrow-right"></i></a>
                </li>
            </ul>
        </nav>

        <div class="content container col-lg-9  justify-content-center align-items-center">
            <div class="row d-flex  justify-content-center align-items-center"
                style="border-radius: 1rem; height: 80vh; margin-top:15px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let movie of movies){%>
                            <tr>
                                <td>
                                    <%= movie.Id%>
                                </td>
                                <td><img id="movieImage<%= movie.Id%>" class="img-thumbnail"
                                        onerror="setDefaultImage('movieImage<%= movie.Id%>')"
                                        src="/movies/<%= movie.Id%>.jpg" style="width:50px;" /></td>

                                <td>
                                    <%= movie.Name%>
                                </td>
                                <td>
                                    <%= movie.Price%>
                                </td>
                                <td>
                                    <%= moment(movie.Datetime).format('DD/MM/YYYY') %>
                                </td>
                                <td>
                                    <%= moment(movie.Datetime).format('HH:mm') %>
                                </td>
                                <td>
                                    <a class="btn btnflix" href="/moveis/<%= movie.Id%>">
                                        Edit
                                    </a>
                                    <form style="display: inline;" id="delete_user<%= movie.Id %>" method="post"
                                        action="/functions/delete_movie/<%= movie.Id %>">
                                        <button form="delete_user<%= movie.Id %>" type="submit"
                                            class="btn btnflix">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <%}%>
                                <tr>
                                    <td class="fs-2 mb-3">
                                        <a class="btn btnflix" href="/add_movie">
                                            Add Movie<i style="margin-left: 10px;font-size: 1.5em;"
                                                class="bi bi-database-add"></i>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                    </tbody>
                </table>



            </div>

            <%- include('./components/footer')%>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                    crossorigin="anonymous"></script>
    </body>

    </html>